@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'LINESeedKR-Bd';
}


#loading-screen {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 4px solid #ccc;
    border-top-color: #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}


.blog-title {
    font-weight: 500;
}
.blog-meta {
    font-size: 0.9rem;
    color: #777;
}
.blog-row:hover {
    background-color: #f8f9fa;
    transition: 0.2s ease;
}
.source-button {
    width: 100%;
    margin-bottom: 10px;
}
.sticky-sidebar {
    position: sticky;
    top: 80px;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn-daangn {
    background-color: #FF6F0F;
    color: white;
}

.btn-toss {
    background-color: #3182F6;
    color: white;
}

.btn-kakao {
    background-color: #FEE500;
    color: #000;
}

.btn-baemin {
    background-color: #00C7AE;
    color: white;
}

.btn-line {
    background-color: #00B900;
    color: white;
}